<div id="home_maincontent">
    <div id="home_portfolio">
        <div id="home_portfolio_container">
            <div id="home_portfolio_container_top">
                <button class="home_portfolio_container_top_button">◄</button>
                <p>Portfolio</p>
                <button class="home_portfolio_container_top_button">►</button>
            </div>
        </div>
    </div>
    <div id="home_text">
        <h1>Moderne IT løsninger</h1>
        <p>Har du et ønske til en hjemmeside? Udforsk vores portfolio og bliv inspireret.<br><br>Vi udvikler med WordPress, Squarespace og Node.js, baseret på scopet af dine krav. Vælg en plan der passer til dine krav og send os en mail, så snakker vi mere. </p>
        <button id="home_button" onclick="location.href='/planer'" type="button">Planer ►</button>
    </div>
</div>