<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!--google font roboto-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito&family=Roboto:wght@300;400&display=swap" rel="stylesheet">  <body>
    <div class="topnav">
      <img src="/images/webwish_logo.png">
      <div class="topnavcontent">
        <a href="/">Hjem</a>
        <a href="/planer">Planer</a>
        <a href="/portfolio">Portfolio</a>
        <a href="/omos">Om os</a>
        <a href="/kontakt">Kontakt</a>
      </div>
    </div>
    {{{body}}}
  </body>
</html>
