<div id="home_maincontent">
    <div id="om_text">
        <h1>Om os</h1>
        <p>Vi er et lille hold på 2 kloner. Vi er nyuddannede datamatikere der er ivrige til, at komme igang!<br><br>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.<br><br> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <div id="om_profile_container">
        <div class="om_profil_content">
            <img src="images/profpic.png" alt="profpic">
            <div class="om_profile_text">
                <h2>Simon Grove</h2>
                <p>Jeg er 22 år gammel og er uddannet datamatiker. Jeg er generelt glad for at programmere, uanset hvilken platform det er.</p>
            </div>
        </div>
        <div class="om_profil_content">
            <img src="images/profpic.png" alt="profpic">
            <div class="om_profile_text">
                <h2>Simon Friis</h2>
                <p>Jeg er 22 år gammel og er uddannet datamatiker. Jeg er generelt glad for at programmere, uanset hvilken platform det er.</p>
            </div>
        </div>
    </div>
</div>