<div id="home_maincontent">
    <div id="home_text">
        <h1>De services vi tilbyder</h1>
        <p>Har du et ønske til en hjemmeside? Udforsk vores portfolio og bliv inspireret.<br><br>Vi udvikler med WordPress, Squarespace og Node.js, baseret på scopet af dine krav. Vælg en plan der passer til dine krav og send os en mail, så snakker vi mere. </p>
    </div>
    <div id="planer_services">
        <div id="planer_services_container">
            <div class="planer_service">
                <h1>Service 1</h1>
                <p>Indhold</p>
                <p>Indhold</p>
                <p>Indhold</p>
                <p>Indhold</p>
                <p>Indhold</p>
                <p>Indhold</p>
                <p>Indhold</p>
                <p>Indhold</p>
                <p>Indhold</p>
                <button id="home_button">Kontakt</button>
            </div>
            <div class="planer_service">
                <h1>Service 2</h1>
                <p>Indhold</p>
                <p>Indhold</p>
                <p>Indhold</p>
                <p>Indhold</p>
                <p>Indhold</p>
                <p>Indhold</p>
                <p>Indhold</p>
                <p>Indhold</p>
                <p>Indhold</p>
                <button id="home_button">Kontakt</button>
            </div>
            <div class="planer_service">
                <h1>Service 3</h1>
                <p>Indhold</p>
                <p>Indhold</p>
                <p>Indhold</p>
                <p>Indhold</p>
                <p>Indhold</p>
                <p>Indhold</p>
                <p>Indhold</p>
                <p>Indhold</p>
                <p>Indhold</p>
                <button id="home_button">Kontakt</button>
            </div>
        </div>
    </div>
</div>